/*Change the background color to stretch across the whole page.*/

body {
  font-size: 10px;
  line-height: 1.5;
  font-family: 'IBM Plex Serif', serif;
  max-width: 634px;
  margin: auto;
  color: black;
  background-color: #fff4ed;
  border-style: double;
  border-width: 10px;
  border-color: #263b40;
  padding: 1rem;
}

header {
  display: grid;
  grid-template-columns: 115px 1fr;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  background-color: #263B40;
}

picture {
  padding: 15px 15px 10px 15px;
}

h1 {
  font-size: 1.3rem;
  margin: 0.15rem;
  color:#fff4ed;
}

h2 {
  font-size: 1rem;
}

ul {
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;;
}

footer {
  background-color: #263B40;
  color:#fff4ed;
}

footer p {
  padding-left: 1rem;
}