@media only screen and (min-width: 65em) {
  body {
    font-size: 20px;
  }
  
  main {
    grid-template-columns: 1fr 1fr 1fr;
  }

  main section:nth-child(1) {
    margin: 0px 5px;
    }

  main section:nth-child(2) {
  margin: 0px 5px;
  }

  main section:nth-child(3) {
    margin: 0px 5px;  
    grid-column: span 1;
  }
}
