* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#meetAndGreet {
  padding: 15px;
  font-family: "IBM Plex Serif", serif;
  background-color: #2b7ea1;
  text-align: center;
  font-size: 2rem;
}

body {
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Serif", serif;
}

header,
footer {
  border-bottom: 1px solid #000;
  background-color: #ff8800;
}

.container1,
.container2 {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  margin: 0 auto;
  grid-gap: 5px;
}

img.logo {
  width: 50px;
  height: auto;
  background-color: #fff;
  border-radius: 4px;
}

.heading {
  display: flex;
  flex-direction: column;
  align-self: center;
  flex: fit-content;
}
.heading h1,
.heading h2 {
  margin: 0;
  font-size: 1.3rem;
  font-family: "Raleway", snas-serif;
  font-weight: 800;
}

.heading h2 {
  font-size: 0.9rem;
}

nav {
  display: flex;
  grid-gap: 5px;
  font-family: "IBM Plex Serif", serif;
  font-size: 0.9rem;
  align-self: center;
}
.active {
  border-color: #2b7ea1;
}

.icon {
  width: 25px;
  height: auto;
  align-self: flex-start;
}

nav button {
  background-color: black;
  align-self: flex-start;
  width: auto;
  height: 25px;
  font-size: 1rem;
  color: white;
  padding: 0 5px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: none;
}

nav ul li {
  background-color: #6fc8ed;
  border: solid #000000;
  margin: 0.5rem;
}

nav ul li a {
  display: block;
  padding: 0.5rem 0.7rem;
  text-decoration: none;
  color: #000;
  border-top: 1px solid rgba(225, 225, 225, 0.5);
}

nav ul li a:hover, .hero button:hover{
  background-color: rgba(225, 225, 225, 0.5);
}

nav ul.open {
  display: block;
}

#hamburgerBtn span:nth-child(1) {
  display: block;
}
#hamburgerBtn span:nth-child(2) {
  display: none;
}

#hamburgerBtn.open span:nth-child(1) {
  display: none;
}
#hamburgerBtn.open span:nth-child(2) {
  display: block;
}

.date {
  display: flex;
  border: 1px solid rgba(225, 225, 225, 0.75);
  background-color: rgba(225, 225, 225, 0.5);
  justify-content: center;
  margin: 0 8px 15px 8px;
  font-size: 0.9rem;
  padding: 0.5rem;
}
main {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  padding: 10px 0;
}
.placeholder {
  border: 2px #edb26f;
  padding: 10px;
  height: auto;
  background-color: #2b7ea1;
  font-size: 0.9rem;
  margin: 0 10px;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.placeholder h3,
.joinButton {
  background-color: rgba(225, 225, 225, 0.5);
  width: 100%;
  padding: 5px;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
}

.placeholder a {
  text-decoration: none;
  color: black;
  margin-top: 15px;
}
.placeholder a:hover {
  background-color: #6fc8ed;
}

.hero {
  height: 200px;
  text-align: left;
}

.hero picture img {
  position: absolute;
  bottom: 0;
  left: 0;
  height: auto;
  width: 100%;
  min-height: 330px;
  min-width: 500px;
}

.hero h3 {
  position: absolute;
  left: 0;
  color: #ff8800;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
}

.hero button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 20px;
  background-color: #6fc8ed;
  border: 5px solid #2b7ea1;
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  border-radius: 30px;
}

.backgroundTan {
  background-color: #edb26f;
  padding: 5px;
  margin: 15px 5px 5px 5px;
}

.weather {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.weather h3 {
  grid-column: 1/3;
}
.weather picture {
  grid-area: 2/1;
  padding-top: 10px;
}
.weather .temperature {
  font-size: 2rem;
  padding-top: 10px;
}
.weather .sky {
  grid-column: 1/3;
  text-align: right;
  font-size: 1.5rem;
  border-bottom: 2px solid #000;
  padding: 10px 0;
}
.weather .windSpeed,
.windChill {
  padding-top: 10px;
}

.spotlight {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #6fc8ed;
}

.spotlight h3 {
  background-color: #2b7ea1;
}

.spotlightgrp {
  display: flex;
  flex-direction: column;
  background-color: #2b7ea1;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 15px;
  grid-gap: 10px;
}

.spotlight picture img {
  width: 100%;
  height: auto;
}
.spotlight picture {
  padding: 10px 0;
}

footer {
  text-align: center;
  padding: 10px;
  line-height: 1.3rem;
}

.logofoot {
  width: 100px;
  height: auto;
  background-color: #fff;
  border-radius: 4px;
  align-self: center;
}

.foot1 {
  font-size: 0.9rem;
  border-bottom: 1px solid rgba(225, 225, 225, 0.3);
  padding-bottom: 10px;
}

.bigfoot {
  font-size: 1rem;
}
.address {
  line-height: 1rem;
  margin: 5px 0;
}

.web,
.number,
.map {
  line-height: 1.7rem;
}

footer a.map {
  text-decoration: none;
  color: black;
}

footer a:hover {
  color: rgba(225, 225, 225, 0.9);
}

.map.pin {
  width: auto;
  height: 1rem;
}

.foot2 {
  font-size: 0.9rem;
  padding-top: 5px;
}

.join,
.spotlight:nth-child(3) {
  display: none;
}


/* discover page */
.discover, .placeholder {
  margin: 0 0;
}
.discover {
  text-align:center;
  width: 100%;

}
.discoverPicture .threeByFour {
  max-width: 400px;
  height: 400px;
}
.discoverPicture .fourByFour {
  width:400px;
  height:400px;
}
.discover img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

img[data-src] {
  filter: blur(0.2em);
}

img {
  filter: blur(0em);
  transition: filter .5s;
}

.visits {
  text-align: center;
  padding: 25px;
  font-size: 1.5rem;
}

.discoverMain img {
  border-radius:5px 5px;
}

/* ---------------------Join---------------------- */

main.joinPage {
  align-items: center;
  background-color: #2B7EA1;
  margin: 10px 0;
  padding: 15px
}

.joinPage Section{
  width: 100%;
  max-width: 25rem;
}

.joinHeader, .membershipBenefits h2 {
  font-size: 1.5rem;
  text-align: center;
  padding: 0 15px;
  margin: 0 0 15px 0;
}

/* ------------------- Join Form --------------------- */
form {
  background-color: #6fc8ed; 
  border: 1px solid #184459;
  border-radius: 10px;
}
form fieldset {
  margin: 1rem;
  padding: .5rem 2%;
  border: 1px solid #184459;
  border-radius: 10px ;
}

form legend {
  color: #184459;
  text-align: center;
  padding: 0.3rem;
}

form label.top, form div {
  display: block;
  padding-top: 1rem;
  color:#000;
  font-size: .8rem;
}

form label.top input, form label.top textarea, form label.msl {
  display: block;
  font-size: .8rem;
  border: 1px solid #ff8800;
  border-radius: 4px;
  padding: .3rem;
  color: #000;
  width: 100%;
  max-width: 20rem;
  background-color:#fcd7ab;
}

form label.msl {
  margin: 5px 0;
}

form input.submitBtn {
  Border: 2px solid #184459;
  background-color: #ff8800;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 20rem;
  align-items: center;
}

form label.top input:required {
  border-left: red solid 6px;
}

form label.top input:required:valid {
  border-left: green solid 6px;
}

/* ------------- Join Membership Benefits ---------------- */
.membershipBenefits {
  width: 100%;
  max-width: 25rem;
  padding-bottom: 20px;
  margin: 0 0 30px 0;
}

.membershipBenefits div {
  background-color:#fcd7ab;
  border-radius: 10px;
  padding: 15px;
}

.membershipBenefits h2 {
  margin: 28px 0 15px 0;
}

.membershipBenefits h3 {
  margin-bottom: 5px;
  font-size: 1rem;
}

.membershipBenefits .bronze, .membershipBenefits .silver, .membershipBenefits .gold {
  margin-top: 15px;
}

.membershipBenefits li {
  margin-left: 18px;
}
/* ------------------- Thank you --------------------- */
.thankYou {
  text-align:center;
  padding: 0 10px;
}

/* ----------------Directory --------------------- */

.directoryMain p {
  line-height: .3rem;
  font-size: 0.85rem;
}

.directoryMain img {
  height: 100%;
  max-height: 200px;
  margin-bottom: 5px;
}

.directoryMain section {
  background-color: aquamarine;
  border: 1px solid rgb(33, 62, 52);
  text-align: center;
  width: 100%;
  max-width: 1fr;
}

main .directoryMain {
  display: flex;

}

.directoryMain .grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  justify-items: center;
}


/* --------------------- Cards -------------------- */