html {
    font-family: "Ubuntu", sans-serif;
}

table {
    margin: 10px auto;
    border: 1px solid #000000;
    box-shadow: 10px 10px 10px rgb(35, 35, 61);
    border-collapse: collapse;

}

th, td {
    padding: 7px 15px;
    border: 1px solid black;
    text-align: center;
}

thead tr:nth-child(1) {
    font-size: 1.5rem;

}

tbody tr:nth-child(even) {
    background-color: rgba(255, 0, 0, 0.1);
}

tfoot {
    font-size: .7rem;
}

.pink {
    background-color: rgb(240, 118, 133);
}
.darkPink {
    background-color: rgb(240, 41, 66);
    color: white;
}
.lightPink {
 background-color: rgb(240, 226, 229);
}