body {
  font-family: "Nunito Sans", serif;
}
h1,
h2,
legend{
  font-family: "playfair Display", serif;
}
.button, .submitBtn {
  border: 4px solid #6ccefc;
	background-color: #f4c1d8;
	padding: 10px;
	border-radius: 30px;
	text-decoration: none;
	color: black;
}
a {
  color: black;
  text-decoration: none;
  line-height: 1.8rem;
}
main a:hover{
  color:rgba(225, 225, 225, 0.9);
}
.bold { 
  font-weight: 800;
  font-size: 1.1rem;
}
/* ---------------- Header ---------------- */
/* ------------- Nav ----------------- */
header {
  border: 5px solid #6ccefc;
}
header.open {
  border-bottom: none;
}
header div:nth-child(1) {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

button:hover {
  cursor: pointer;
}
#hamburgerBtn {
  margin: 10px;
  background-color: #f4c1d8;
  border: none;
  font-size: 1.9rem;
  align-self: flex-start;
  width: 38px;
  height: 38px;
  padding: 0 5px;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}
nav ul li {
  background-color: #6ccefc;
}
nav ul li a {
  display: block;
  padding: 0.5rem 0.7rem;
  text-decoration: none;
  color: #000;
  border-top: 2px solid rgba(0, 0, 0, 0.5);
}
nav ul li.active a {
  background-color: rgba(225, 225, 225, 0.5);
}
nav ul li a:hover {
  background-color: rgba(225, 225, 225, 0.7);
}
.button:hover, .submitBtn:hover {
  background-color: rgba(225, 225, 225, 0.7);
  color: #6ccefc;
}
nav ul.open {
  display: block;
}
#hamburgerBtn span:nth-child(1) {
  display: block;
}
#hamburgerBtn span:nth-child(2) {
  display: none;
}
#hamburgerBtn.open span:nth-child(1) {
  display: none;
}
#hamburgerBtn.open span:nth-child(2) {
  display: block;
}
/* ------------- Logo ------------------- */
img.logo {
  width: 125px;
  height: auto;
  margin: 10px;
}

h1 {
  font-size: 1.5rem;
  font-style: italic;
  margin: 10px;
}

/* --------------------- Main Home ---------------- */
.holinessToTheLord img {
  width: 100%;
  opacity: 50%;
}
.callToAction {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
section {
	position: relative;
}
.weather {
  border: 2px solid #6ccefc;
  margin-bottom: 10px;
}
.weather h2 {
  background-color: #6ccefc;
}
.weather img {
  width:100px;
  height: auto;
  margin: 0 auto;
}
.weather p {
  padding: 0 10px;
}
.weather p:nth-child(3) {
  margin-top: -17px;
}
#alert {
  padding: 20px;
  background-color: #f4c1d8;
}
.closeBtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closeBtn:hover {
  color: rgba(225, 225, 225, 0.7);;
}
/* ------------------ Temples Main ----------------- */
.cards section {
  margin: 5px auto;
  position: relative;
  padding: 10px;
  border: 2px solid #6ccefc;
  max-width: 800px;
}
.cards section a, .cards section p, .cards section ul, .services div, .services section {
  background-color: #6ccefc;
  padding: 5px;
  word-wrap: break-word;
}
section div {
  position: relative;
}
.cards h2 {
  position: absolute;
  bottom: 30px;
  left: 10px;
  padding: 10px;
  margin: 0;
  margin-right: 10px;
  background-color: rgb(244 193 216 / 70%);
  font-size: 1.3rem;
}
.cards h2:hover{
  background-color:#f4c1d8;
  cursor: default;
}
.hovHistory {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgb(108 206 252 / 70%);
}
.hovHistory:hover{
  cursor: default;
}
.hovHistory:hover + .history {
  display: block;
}
.templeImg img {
  width: 100%;
  max-width: 800px;
}
.likeBtn {
  font-size: 1.5rem;
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #ffffff;
}
.likeBtn:hover {
  color:#6ccefc;
  cursor:pointer;
  font-size: 2rem;
}
.cards section ul {
  padding: 10px 10px 10px 50px;
}
.cards p {
  margin-block-start: .5rem;
  margin-block-end: .5rem;
}
.cards ul span{
  margin-left: -40px;
}
p.history{
  display: none;
  position: absolute;
  top: 0;
  padding: 10px;
  background-color: #6ccefc;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

/* ---------------- Reservation Home --------------- */
form {
  border: 4px solid #6ccefc;
  position: relative;
  margin: 10px 0;
}
form fieldset {
  margin: 10px;
  border: 2px solid #f4c1d8;
  background-color: #f4c1d8;
}

form legend {
  padding: 0 5px;
  font-size: 1.3rem;
  background-color: #ffffff;
  border: 2px solid #6ccefc;
}

form label, form div {
  display: block;
  padding-top: 14px;
  font-size: .9rem;
}

form label input, form label textarea, form label.roomType {
  display: block;
  border: 1px solid #000000;
  padding: 5px;
  width: 96%;
  max-width: 20rem;
}

form input.submitBtn{
  margin: 10px;
  max-width: 20rem;
  border-radius: 0;
  text-align: left;
}

form label input:required {
  border-bottom: 6px solid #6ccefc;
}

form label input:required:valid {
  border-bottom: 1px solid black;
}
fieldset div label {
  margin: 5px 0;
}
label.roomType {
  display: inline   ;
}
.roomType input {
  text-align: left;
  display: inline;
}
/* -------------------- services --------------------- */
.services h2, .weather h2{
  padding: 10px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
.services div, .services section {
  margin: 10px;
}
.services ul {
  margin: 0 10px;
}
.services li {
  padding-bottom: 10px;
}
.services section p {
  padding: 10px;
  margin: 0;
}
.services a {
  display: block;
  margin: 10px;
}

/* -------------- Footer ------------------ */
footer {
  display: grid;
  grid-template-columns: 110px 1fr;
  border: 5px solid #6ccefc;
  font-size: 12px;
}
footer .logo {
  width: 100px;
  margin: 10px 10px 0 10px;
}
.socialMedia {
  grid-column: 1;
  padding: 10px 0 7px 10px;
}
.socialMedia img {
  width: 48px;
  height: auto;
}
.headquarters {
  grid-column: 2;
  grid-row: 1/3;
  background-color: #6ccefc;
  padding: 10px;
  margin: 10px;
}
footer p {
  margin-block-start: 0px;
  margin-block-end: 10px;
}
.lastModified {
  grid-column: span 2;
  padding: 10px;
  background-color: #f4c1d8;
  margin: 0 10px;
}
