body {
    max-width: 960px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

p {
    line-height: .3rem;
    font-size: 0.85rem;
}

img {
    height: 100%;
    max-height: 200px;
    margin-bottom: 5px;
}

section {
    background-color: aquamarine;
    border: 1px solid rgb(33, 62, 52);
    text-align: center;
    width: 100%;
}

main {
    background-color: rgb(224, 250, 242);
    padding: 1rem;
    box-shadow: 5px 5px 5px 5px black;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 5px;
    justify-items: center;
  }

  h1, h2 {
    font-family: 'Roboto Slab', serif;
    color: rgb(33, 62, 52);
  }